In [1]:
# given a dataset that shows which users have purchased an iphone, 
# predict if the customer will
# purchase an iphone or not given their gender, age and salary

In [2]:
import pandas as pd
import numpy as np
import requests
import io

In [3]:
url = 'https://raw.githubusercontent.com/omairaasim/machine_learning/master/project_11_k_nearest_neighbor/iphone_purchase_records.csv'
download = requests.get(url).content
df = pd.read_csv(io.StringIO(download.decode('utf-8')))
df.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    object
 1   Age              400 non-null    int64
 2   Salary           400 non-null    int64
 3   Purchase Iphone  400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [5]:
# convert gender to numerical values using label encoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Gender']= le.fit_transform(df['Gender'])
df

     Gender  Age  Salary  Purchase Iphone
0         1   19   19000                0
1         1   35   20000                0
2         0   26   43000                0
3         0   27   57000                0
4         1   19   76000                0
..      ...  ...     ...              ...
395       0   46   41000                1
396       1   51   23000                1
397       0   50   20000                1
398       1   36   33000                0
399       0   49   36000                1

[400 rows x 4 columns]

In [6]:
# Let x. be gender, age and salary
# let y be purchase iphone

x = df.iloc[:, 0:3].values
y = df.iloc[:, -1].values

In [7]:
# split data into training and testing set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

print(x_train)

[[     0     44  39000]
 [     1     32 120000]
 [     0     38  50000]
 [     0     32 135000]
 [     0     52  21000]
 [     0     53 104000]
 [     1     39  42000]
 [     1     38  61000]
 [     0     36  50000]
 [     0     36  63000]
 [     0     35  25000]
 [     1     35  50000]
 [     1     42  73000]
 [     0     47  49000]
 [     0     59  29000]
 [     1     49  65000]
 [     0     45 131000]
 [     0     31  89000]
 [     0     46  82000]
 [     0     47  51000]
 [     1     26  15000]
 [     1     60 102000]
 [     0     38 112000]
 [     1     40 107000]
 [     0     42  53000]
 [     1     35  59000]
 [     1     48  41000]
 [     0     48 134000]
 [     0     38 113000]
 [     1     29 148000]
 [     0     26  15000]
 [     1     60  42000]
 [     1     24  19000]
 [     1     42 149000]
 [     0     46  96000]
 [     1     28  59000]
 [     1     39  96000]
 [     1     28  89000]
 [     1     41  72000]
 [     1     45  26000]
 [     0     33  69000]
 [     0     20  82000]
 [     1     31  74000]
 [     1     42  80000]
 [     0     35  72000]
 [     0     33 149000]
 [     1     40  71000]
 [     0     51 146000]
 [     1     46  79000]
 [     1     35  75000]
 [     1     38  51000]
 [     0     36  75000]
 [     0     37  78000]
 [     1     38  61000]
 [     0     60 108000]
 [     0     20  82000]
 [     1     57  74000]
 [     1     42  65000]
 [     1     26  80000]
 [     1     46 117000]
 [     1     35  61000]
 [     0     21  68000]
 [     0     28  44000]
 [     1     41  87000]
 [     0     37  33000]
 [     1     27  90000]
 [     1     39  42000]
 [     1     28 123000]
 [     0     31 118000]
 [     1     25  87000]
 [     0     35  71000]
 [     1     37  70000]
 [     1     35  39000]
 [     1     47  23000]
 [     0     35 147000]
 [     0     48 138000]
 [     1     26  86000]
 [     1     25  79000]
 [     0     52 138000]
 [     1     51  23000]
 [     0     35  60000]
 [     0     33 113000]
 [     1     30 107000]
 [     1     48  33000]
 [     0     41  80000]
 [     0     48  96000]
 [     1     31  18000]
 [     0     31  71000]
 [     1     43 129000]
 [     0     59  76000]
 [     0     18  44000]
 [     1     36 118000]
 [     0     42  90000]
 [     0     47  30000]
 [     0     26  43000]
 [     1     40  78000]
 [     1     46  59000]
 [     0     59  42000]
 [     0     46  74000]
 [     1     35  91000]
 [     0     28  59000]
 [     1     40  57000]
 [     1     59 143000]
 [     0     57  26000]
 [     0     52  38000]
 [     0     47 113000]
 [     0     53 143000]
 [     1     35  27000]
 [     0     58 101000]
 [     0     45  45000]
 [     0     23  82000]
 [     1     46  23000]
 [     1     42  65000]
 [     0     28  84000]
 [     1     38  59000]
 [     0     26  84000]
 [     0     29  28000]
 [     0     37  71000]
 [     0     22  55000]
 [     0     48  35000]
 [     1     49  28000]
 [     0     38  65000]
 [     0     27  17000]
 [     1     46  28000]
 [     1     48 141000]
 [     0     26  17000]
 [     0     35  97000]
 [     0     39  59000]
 [     0     24  27000]
 [     1     32  18000]
 [     1     46  88000]
 [     1     35  58000]
 [     1     56  60000]
 [     1     47  34000]
 [     0     40  72000]
 [     1     32 100000]
 [     0     19  21000]
 [     1     25  90000]
 [     1     35  88000]
 [     1     28  32000]
 [     0     50  20000]
 [     1     40  59000]
 [     0     50  44000]
 [     1     35  72000]
 [     0     40 142000]
 [     0     46  32000]
 [     0     39  71000]
 [     1     20  74000]
 [     1     29  75000]
 [     1     31  76000]
 [     1     47  25000]
 [     1     40  61000]
 [     1     34 112000]
 [     0     38  80000]
 [     0     42  75000]
 [     0     47  47000]
 [     0     39  75000]
 [     1     19  25000]
 [     0     37  80000]
 [     1     36  60000]
 [     1     41  52000]
 [     1     36 125000]
 [     0     48  29000]
 [     0     36 126000]
 [     0     51 134000]
 [     0     27  57000]
 [     1     38  71000]
 [     0     39  61000]
 [     0     22  27000]
 [     0     33  60000]
 [     1     48  74000]
 [     0     58  23000]
 [     1     53  72000]
 [     0     32 117000]
 [     1     54  70000]
 [     1     30  80000]
 [     0     58  95000]
 [     0     26  52000]
 [     1     45  79000]
 [     1     24  55000]
 [     1     40  75000]
 [     0     33  28000]
 [     0     44 139000]
 [     1     22  18000]
 [     0     33  51000]
 [     0     43 133000]
 [     0     24  32000]
 [     0     46  22000]
 [     1     35  55000]
 [     0     54 104000]
 [     0     48 119000]
 [     1     35  53000]
 [     1     37 144000]
 [     0     23  66000]
 [     0     37 137000]
 [     1     31  58000]
 [     0     33  41000]
 [     0     45  22000]
 [     1     30  15000]
 [     1     19  19000]
 [     1     49  74000]
 [     1     39 122000]
 [     1     35  73000]
 [     1     39  71000]
 [     1     24  23000]
 [     0     41  72000]
 [     0     29  83000]
 [     0     54  26000]
 [     0     35  44000]
 [     1     37  75000]
 [     0     29  47000]
 [     0     31  68000]
 [     1     42  54000]
 [     1     30 135000]
 [     0     52 114000]
 [     0     50  36000]
 [     1     56 133000]
 [     1     29  61000]
 [     1     30  89000]
 [     1     26  16000]
 [     1     33  31000]
 [     0     41  72000]
 [     1     36  33000]
 [     0     55 125000]
 [     0     48 131000]
 [     0     41  71000]
 [     0     30  62000]
 [     1     37  72000]
 [     0     41  63000]
 [     0     58  47000]
 [     0     30 116000]
 [     1     20  49000]
 [     1     37  74000]
 [     1     41  59000]
 [     1     49  89000]
 [     1     28  79000]
 [     0     53  82000]
 [     1     40  57000]
 [     1     60  34000]
 [     1     35 108000]
 [     1     21  72000]
 [     1     38  71000]
 [     1     39 106000]
 [     0     37  57000]
 [     0     26  72000]
 [     0     35  23000]
 [     0     54 108000]
 [     1     30  17000]
 [     1     39 134000]
 [     1     29  43000]
 [     1     33  43000]
 [     1     35  38000]
 [     1     41  45000]
 [     0     41  72000]
 [     0     39 134000]
 [     0     27 137000]
 [     0     21  16000]
 [     1     26  32000]
 [     1     31  66000]
 [     0     39  73000]
 [     1     41  79000]
 [     0     47  50000]
 [     0     41  30000]
 [     0     37  93000]
 [     0     60  46000]
 [     1     25  22000]
 [     0     28  37000]
 [     0     38  55000]
 [     0     36  54000]
 [     0     20  36000]
 [     0     56 104000]
 [     1     40  57000]
 [     0     42 108000]
 [     0     20  23000]
 [     1     40  65000]
 [     1     47  20000]
 [     0     18  86000]
 [     1     35  79000]
 [     0     57  33000]
 [     0     34  72000]
 [     0     49  39000]
 [     0     27  31000]
 [     1     19  70000]
 [     0     39  79000]
 [     1     26  81000]
 [     1     25  80000]
 [     0     28  85000]
 [     1     55  39000]
 [     0     50  88000]
 [     1     49  88000]
 [     1     52 150000]
 [     0     35  65000]
 [     1     42  54000]
 [     1     34  43000]
 [     1     37  52000]
 [     0     48  30000]
 [     1     29  43000]
 [     1     36  52000]
 [     0     27  54000]
 [     0     26 118000]]

In [8]:
# feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train =sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [9]:
# fit KNN Classifier
from sklearn.neighbors import KNeighborsClassifier
# metric = minkowski and p=2 is Euclidean Distance
# metric = minkowski and p=1 is Manhattan Distance
classifier = KNeighborsClassifier(n_neighbors = 5, metric="minkowski", p=2)
classifier.fit(x_train, y_train)

KNeighborsClassifier()

In [10]:
y_pred = classifier.predict(x_test)

In [11]:
# confusion metrics
from sklearn import metrics
cm = metrics.confusion_matrix(y_test, y_pred)
print (cm)

[[64  4]
 [ 3 29]]

In [12]:
accuracy = metrics.accuracy_score(y_test, y_pred)
print("Accuracy score:",accuracy)

Accuracy score: 0.93

In [13]:
precision = metrics.precision_score(y_test, y_pred) 
print("Precision score:",precision)

Precision score: 0.8787878787878788

In [14]:
recall = metrics.recall_score(y_test, y_pred) 
print("Recall score:",recall)

Recall score: 0.90625