In [1]:
# predict the score of each of the six measures for the essays given in the test set.

In [2]:
import pandas as pd
import numpy as np

In [4]:
# load the data
train  = pd.read_csv("train2.csv")
test = pd.read_csv("test.csv")

In [5]:
train.head()

,text_id,full_text,cohesion,syntax,vocabulary,phraseology,grammar,conventions
0,0016926B079C,I think that students would benefit from learn...,3.5,3.5,3.0,3.0,4.0,3.0
1,0022683E9EA5,When a problem is a change you have to let it ...,2.5,2.5,3.0,2.0,2.0,2.5
2,00299B378633,"Dear, Principal\n\nIf u change the school poli...",3.0,3.5,3.0,3.0,3.0,2.5
3,003885A45F42,The best time in life is when you become yours...,4.5,4.5,4.5,4.5,4.0,5.0
4,0049B1DF5CCC,Small act of kindness can impact in other peop...,2.5,3.0,3.0,3.0,2.5,2.5

In [6]:
# get the rows and columns of each data
print ('The train data has {0} rows and {1} columns'.format(train.shape[0],train.shape[1]))
print ('----------------------------')
print ('The test data has {0} rows and {1} columns'.format(test.shape[0],test.shape[1]))

The train data has 3911 rows and 8 columns
----------------------------
The test data has 3 rows and 2 columns

In [7]:
# check for missing data
train.columns[train.isnull().any()]

Index([], dtype='object')

In [ ]:
# what kind of problem is this? supervised pr unsupervisd
# what algorthim best fits this

In [8]:
test.head()

        text_id                                          full_text
0  0000C359D63E  when a person has no experience on a job their...
1  000BAD50D026  Do you think students would benefit from being...
2  00367BB2546B  Thomas Jefferson once states that "it is wonde...