In [1]:
# Name: Cynthia Nosiri
# Class: EEGR 565.M85 - Machine Learning Applications
# Goal: Data Cleaning plus prediction
# Google drive link: https://drive.google.com/drive/u/1/folders/13eKQ7uEbSLoN2L7t_sP7FEOzmq42vj19

In [2]:
# import libraries and read data
import pandas as pd
import numpy as np

df = pd.read_csv("oil-spill-data.csv", header = None)
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1,2558.0,1506.09,456.63,90.0,6395000.0,40.88,7.89,29780.0,0.19,...,2850.00,1000.00,763.16,135.46,3.73,0.0,33243.19,65.74,7.95,Oil Spill
1,2,22325.0,79.11,841.03,180.0,55812500.0,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0.0,51572.04,65.73,6.26,No Spill
2,3,115.0,1449.85,608.43,88.0,287500.0,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1.0,31692.84,65.81,7.84,Oil Spill
3,4,1201.0,1562.53,295.65,66.0,3002500.0,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1.0,37696.21,65.67,8.07,Oil Spill
4,5,312.0,950.27,440.86,37.0,780000.0,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0.0,29038.17,65.66,7.35,No Spill
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,1203,76.0,685.07,1321.92,113.0,106875.0,25.64,9.82,2275.5,0.38,...,403.89,118.59,64.76,43.62,6.24,0.0,9631.78,36.47,15.04,No Spill
1203,1204,69.0,1658.12,1269.91,164.0,172500.0,31.97,9.29,1940.0,0.29,...,824.62,316.23,143.50,88.71,5.75,0.0,3472.88,66.18,7.94,No Spill
1204,1205,166.0,80.08,2020.58,176.0,233437.0,30.61,7.25,2491.5,0.24,...,0.00,0.00,0.00,0.00,0.00,0.0,16660.02,36.10,14.65,No Spill
1205,1206,10.0,147.50,639.10,19.0,81000.0,79.60,16.77,757.0,0.21,...,371.08,90.00,90.00,0.00,4.12,0.0,3594.74,66.23,6.29,No Spill
1206,1207,2664.0,1344.49,1363.74,45.0,6660000.0,38.72,8.75,28160.0,0.23,...,1767.77,5020.46,4531.14,247.42,0.39,0.0,6602.97,66.19,7.53,No Spill

In [3]:
# drop unwanted column (the first column)
df.drop([0], axis = 1, inplace = True)
df.head()

,1,2,3,4,5,6,7,8,9,10,...,40,41,42,43,44,45,46,47,48,49
0,2558.0,1506.09,456.63,90.0,6395000.0,40.88,7.89,29780.0,0.19,214.7,...,2850.00,1000.00,763.16,135.46,3.73,0.0,33243.19,65.74,7.95,Oil Spill
1,22325.0,79.11,841.03,180.0,55812500.0,51.11,1.21,61900.0,0.02,901.7,...,5750.00,11500.00,9593.48,1648.80,0.60,0.0,51572.04,65.73,6.26,No Spill
2,115.0,1449.85,608.43,88.0,287500.0,40.42,7.34,3340.0,0.18,86.1,...,1400.00,250.00,150.00,45.13,9.33,1.0,31692.84,65.81,7.84,Oil Spill
3,1201.0,1562.53,295.65,66.0,3002500.0,42.40,7.97,18030.0,0.19,166.5,...,6041.52,761.58,453.21,144.97,13.33,1.0,37696.21,65.67,8.07,Oil Spill
4,312.0,950.27,440.86,37.0,780000.0,41.43,7.03,3350.0,0.17,232.8,...,1320.04,710.63,512.54,109.16,2.58,0.0,29038.17,65.66,7.35,No Spill

In [4]:
# just looking through my data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1207 entries, 0 to 1206
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       1183 non-null   float64
 1   2       1187 non-null   float64
 2   3       1179 non-null   float64
 3   4       1197 non-null   float64
 4   5       1193 non-null   float64
 5   6       1173 non-null   float64
 6   7       1185 non-null   float64
 7   8       1184 non-null   float64
 8   9       1192 non-null   float64
 9   10      1194 non-null   float64
 10  11      1192 non-null   float64
 11  12      1189 non-null   float64
 12  13      1184 non-null   float64
 13  14      1197 non-null   float64
 14  15      1188 non-null   float64
 15  16      1195 non-null   float64
 16  17      1194 non-null   float64
 17  18      1193 non-null   float64
 18  19      1188 non-null   float64
 19  20      1185 non-null   float64
 20  21      1188 non-null   float64
 21  22      1195 non-null   float64
 22  23      1187 non-null   float64
 23  24      1185 non-null   float64
 24  25      1178 non-null   float64
 25  26      1197 non-null   float64
 26  27      1190 non-null   float64
 27  28      1194 non-null   float64
 28  29      1191 non-null   float64
 29  30      1184 non-null   float64
 30  31      1194 non-null   float64
 31  32      1193 non-null   float64
 32  33      1185 non-null   float64
 33  34      1200 non-null   float64
 34  35      1192 non-null   float64
 35  36      1183 non-null   float64
 36  37      1200 non-null   float64
 37  38      1190 non-null   float64
 38  39      1197 non-null   float64
 39  40      1180 non-null   float64
 40  41      1193 non-null   float64
 41  42      1192 non-null   float64
 42  43      1184 non-null   float64
 43  44      1188 non-null   float64
 44  45      1194 non-null   float64
 45  46      1192 non-null   float64
 46  47      1186 non-null   float64
 47  48      1195 non-null   float64
 48  49      1191 non-null   object
dtypes: float64(48), object(1)
memory usage: 462.2+ KB

In [5]:
# get the shape
df.shape

(1207, 49)

In [6]:
# find the target column and display

length = len(df.columns)
print("Categorical columns: "+ str([length]))

Categorical columns: [49]

In [7]:
# display all rows with missing data
null_data = df[df.isnull().any(axis=1)]
null_data

,1,2,3,4,5,6,7,8,9,10,...,40,41,42,43,44,45,46,47,48,49
34,849.0,NaN,NaN,74.0,2122500.0,NaN,8.96,NaN,0.27,190.0,...,NaN,NaN,590.09,398.34,5.55,0.0,6065.61,NaN,8.16,NaN
38,NaN,1748.69,1370.24,90.0,NaN,NaN,6.12,3440.0,0.20,NaN,...,300.00,600.00,566.67,40.82,0.53,0.0,NaN,66.24,8.01,No Spill
78,NaN,1596.89,1597.48,40.0,1077500.0,35.30,7.49,7640.0,0.21,NaN,...,2874.46,710.63,NaN,NaN,8.98,NaN,3891.58,NaN,NaN,No Spill
94,367.0,23.64,1673.75,51.0,917500.0,43.03,3.60,6720.0,0.08,NaN,...,NaN,1030.78,767.97,171.83,1.29,0.0,30931.68,66.15,5.87,No Spill
96,86.0,769.73,NaN,55.0,215000.0,NaN,NaN,3090.0,NaN,69.6,...,NaN,180.28,NaN,59.34,14.93,NaN,NaN,66.30,6.71,No Spill
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,849.0,NaN,NaN,74.0,2122500.0,NaN,8.96,NaN,0.27,190.0,...,NaN,NaN,590.09,398.34,5.55,0.0,6065.61,NaN,8.16,NaN
1153,97.0,1666.21,1494.84,177.0,242500.0,NaN,5.60,2610.0,0.17,92.9,...,750.00,500.00,290.00,NaN,2.59,0.0,3437.20,66.29,7.87,No Spill
1178,10.0,72.50,435.80,60.0,NaN,51.70,NaN,NaN,0.13,87.9,...,402.49,127.28,NaN,NaN,NaN,0.0,2555.87,65.94,6.26,No Spill
1190,NaN,NaN,NaN,52.0,81000.0,NaN,6.12,958.0,0.12,84.6,...,NaN,0.00,0.00,0.00,0.00,1.0,3967.26,65.95,6.58,NaN
1200,849.0,NaN,NaN,74.0,2122500.0,NaN,8.96,NaN,0.27,190.0,...,NaN,NaN,590.09,398.34,5.55,0.0,6065.61,NaN,8.16,NaN

In [8]:
# task breakdown
# display rows with more than 15% missing data
#     -----first get total no. of missing data in a row
#         -----then total no. data in a row or total no. of columns
#     ------% of missing data in each row
#     -------filter for less or more than 15

In [9]:
# display rows with more than 15% missing data
for i in range(len(df.index)):
    percent = df.iloc[i].isnull().sum()/len(df.columns) * 100
    if percent > 15:
        print("More than 15% is missing in row ", i ,":", percent.round(0), "%")
    if percent < 15 and percent > 0:
        print("Less than 15% is missing in row ", i ,":", percent.round(0), "%")

More than 15% is missing in row  34 : 24.0 %
More than 15% is missing in row  38 : 41.0 %
More than 15% is missing in row  78 : 45.0 %
Less than 15% is missing in row  94 : 10.0 %
More than 15% is missing in row  96 : 39.0 %
More than 15% is missing in row  112 : 20.0 %
Less than 15% is missing in row  166 : 10.0 %
More than 15% is missing in row  173 : 41.0 %
More than 15% is missing in row  177 : 47.0 %
More than 15% is missing in row  265 : 24.0 %
Less than 15% is missing in row  266 : 14.0 %
More than 15% is missing in row  272 : 35.0 %
More than 15% is missing in row  287 : 20.0 %
More than 15% is missing in row  288 : 49.0 %
Less than 15% is missing in row  296 : 14.0 %
More than 15% is missing in row  313 : 22.0 %
More than 15% is missing in row  321 : 29.0 %
More than 15% is missing in row  336 : 22.0 %
More than 15% is missing in row  340 : 37.0 %
More than 15% is missing in row  346 : 39.0 %
Less than 15% is missing in row  361 : 10.0 %
More than 15% is missing in row  370 : 47.0 %
Less than 15% is missing in row  372 : 14.0 %
More than 15% is missing in row  380 : 27.0 %
More than 15% is missing in row  397 : 20.0 %
More than 15% is missing in row  399 : 29.0 %
More than 15% is missing in row  410 : 24.0 %
More than 15% is missing in row  422 : 29.0 %
More than 15% is missing in row  475 : 45.0 %
More than 15% is missing in row  490 : 47.0 %
More than 15% is missing in row  542 : 18.0 %
Less than 15% is missing in row  563 : 12.0 %
More than 15% is missing in row  570 : 35.0 %
More than 15% is missing in row  633 : 24.0 %
More than 15% is missing in row  666 : 29.0 %
More than 15% is missing in row  696 : 27.0 %
More than 15% is missing in row  700 : 27.0 %
More than 15% is missing in row  730 : 35.0 %
Less than 15% is missing in row  812 : 14.0 %
More than 15% is missing in row  817 : 18.0 %
More than 15% is missing in row  831 : 24.0 %
More than 15% is missing in row  832 : 37.0 %
More than 15% is missing in row  864 : 29.0 %
More than 15% is missing in row  892 : 22.0 %
More than 15% is missing in row  931 : 35.0 %
Less than 15% is missing in row  937 : 10.0 %
More than 15% is missing in row  962 : 37.0 %
More than 15% is missing in row  974 : 24.0 %
More than 15% is missing in row  984 : 24.0 %
Less than 15% is missing in row  991 : 10.0 %
More than 15% is missing in row  1016 : 37.0 %
More than 15% is missing in row  1028 : 24.0 %
More than 15% is missing in row  1038 : 24.0 %
Less than 15% is missing in row  1045 : 10.0 %
More than 15% is missing in row  1070 : 37.0 %
More than 15% is missing in row  1082 : 24.0 %
More than 15% is missing in row  1092 : 24.0 %
Less than 15% is missing in row  1099 : 10.0 %
More than 15% is missing in row  1124 : 37.0 %
More than 15% is missing in row  1136 : 24.0 %
More than 15% is missing in row  1146 : 24.0 %
Less than 15% is missing in row  1153 : 10.0 %
More than 15% is missing in row  1178 : 37.0 %
More than 15% is missing in row  1190 : 24.0 %
More than 15% is missing in row  1200 : 24.0 %

In [10]:
# drop all rows with more than 15% missing data and display no. of rows dropped
# data i'll like to keep(rows with 15% or less missing data)
new_df= df.loc[df.isna().mean(axis = 1) < 0.15]
new_df.shape[0]

1155

In [11]:
print(df.shape[0] - new_df.shape[0], "observations dropped due to having more than 15% missing feature points")

52 observations dropped due to having more than 15% missing feature points

In [12]:
new_df

,1,2,3,4,5,6,7,8,9,10,...,40,41,42,43,44,45,46,47,48,49
0,2558.0,1506.09,456.63,90.0,6395000.0,40.88,7.89,29780.0,0.19,214.7,...,2850.00,1000.00,763.16,135.46,3.73,0.0,33243.19,65.74,7.95,Oil Spill
1,22325.0,79.11,841.03,180.0,55812500.0,51.11,1.21,61900.0,0.02,901.7,...,5750.00,11500.00,9593.48,1648.80,0.60,0.0,51572.04,65.73,6.26,No Spill
2,115.0,1449.85,608.43,88.0,287500.0,40.42,7.34,3340.0,0.18,86.1,...,1400.00,250.00,150.00,45.13,9.33,1.0,31692.84,65.81,7.84,Oil Spill
3,1201.0,1562.53,295.65,66.0,3002500.0,42.40,7.97,18030.0,0.19,166.5,...,6041.52,761.58,453.21,144.97,13.33,1.0,37696.21,65.67,8.07,Oil Spill
4,312.0,950.27,440.86,37.0,780000.0,41.43,7.03,3350.0,0.17,232.8,...,1320.04,710.63,512.54,109.16,2.58,0.0,29038.17,65.66,7.35,No Spill
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,76.0,685.07,1321.92,113.0,106875.0,25.64,9.82,2275.5,0.38,47.0,...,403.89,118.59,64.76,43.62,6.24,0.0,9631.78,36.47,15.04,No Spill
1203,69.0,1658.12,1269.91,164.0,172500.0,31.97,9.29,1940.0,0.29,88.9,...,824.62,316.23,143.50,88.71,5.75,0.0,3472.88,66.18,7.94,No Spill
1204,166.0,80.08,2020.58,176.0,233437.0,30.61,7.25,2491.5,0.24,93.7,...,0.00,0.00,0.00,0.00,0.00,0.0,16660.02,36.10,14.65,No Spill
1205,10.0,147.50,639.10,19.0,81000.0,79.60,16.77,757.0,0.21,107.0,...,371.08,90.00,90.00,0.00,4.12,0.0,3594.74,66.23,6.29,No Spill
1206,2664.0,1344.49,1363.74,45.0,6660000.0,38.72,8.75,28160.0,0.23,236.5,...,1767.77,5020.46,4531.14,247.42,0.39,0.0,6602.97,66.19,7.53,No Spill

In [13]:
# creating a dataframe new_df1 with only features
new_df1 = new_df.drop(columns = [49])
new_df1

,1,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,45,46,47,48
0,2558.0,1506.09,456.63,90.0,6395000.0,40.88,7.89,29780.0,0.19,214.7,...,69.0,2850.00,1000.00,763.16,135.46,3.73,0.0,33243.19,65.74,7.95
1,22325.0,79.11,841.03,180.0,55812500.0,51.11,1.21,61900.0,0.02,901.7,...,69.0,5750.00,11500.00,9593.48,1648.80,0.60,0.0,51572.04,65.73,6.26
2,115.0,1449.85,608.43,88.0,287500.0,40.42,7.34,3340.0,0.18,86.1,...,69.0,1400.00,250.00,150.00,45.13,9.33,1.0,31692.84,65.81,7.84
3,1201.0,1562.53,295.65,66.0,3002500.0,42.40,7.97,18030.0,0.19,166.5,...,69.0,6041.52,761.58,453.21,144.97,13.33,1.0,37696.21,65.67,8.07
4,312.0,950.27,440.86,37.0,780000.0,41.43,7.03,3350.0,0.17,232.8,...,69.0,1320.04,710.63,512.54,109.16,2.58,0.0,29038.17,65.66,7.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,76.0,685.07,1321.92,113.0,106875.0,25.64,9.82,2275.5,0.38,47.0,...,85.0,403.89,118.59,64.76,43.62,6.24,0.0,9631.78,36.47,15.04
1203,69.0,1658.12,1269.91,164.0,172500.0,31.97,9.29,1940.0,0.29,88.9,...,55.0,824.62,316.23,143.50,88.71,5.75,0.0,3472.88,66.18,7.94
1204,166.0,80.08,2020.58,176.0,233437.0,30.61,7.25,2491.5,0.24,93.7,...,86.0,0.00,0.00,0.00,0.00,0.00,0.0,16660.02,36.10,14.65
1205,10.0,147.50,639.10,19.0,81000.0,79.60,16.77,757.0,0.21,107.0,...,73.0,371.08,90.00,90.00,0.00,4.12,0.0,3594.74,66.23,6.29
1206,2664.0,1344.49,1363.74,45.0,6660000.0,38.72,8.75,28160.0,0.23,236.5,...,55.0,1767.77,5020.46,4531.14,247.42,0.39,0.0,6602.97,66.19,7.53

In [14]:
# For rows with less than 15% data, replace missing data with the median value of that feature and 
# display the row/column position of cell with missing feature and the median value inserted

# steps: loop through the rows and columns, if there are missing values in the rows and columns, 
# print that position with the median

for i in new_df1.index:
    for j in new_df1.columns:
        if new_df1.isna().loc[i][j] == True:
            print("Replace nan at position", (i, j), "with {} ".format(new_df1.median(numeric_only = True)[j]))

Replace nan at position (94, 10) with 100.0
Replace nan at position (94, 14) with 0.17
Replace nan at position (94, 15) with 0.27
Replace nan at position (94, 19) with 0.22
Replace nan at position (94, 40) with 670.82
Replace nan at position (166, 6) with 39.63
Replace nan at position (166, 25) with 0.87
Replace nan at position (166, 30) with -0.39
Replace nan at position (166, 36) with 0.01
Replace nan at position (166, 43) with 76.24
Replace nan at position (266, 8) with 2110.0
Replace nan at position (266, 14) with 0.17
Replace nan at position (266, 16) with 32.885000000000005
Replace nan at position (266, 20) with 0.28
Replace nan at position (266, 22) with 0.0
Replace nan at position (266, 34) with 23.0
Replace nan at position (266, 44) with 3.7649999999999997
Replace nan at position (296, 9) with 0.21
Replace nan at position (296, 10) with 100.0
Replace nan at position (296, 28) with 3.32
Replace nan at position (296, 29) with -2.77
Replace nan at position (296, 38) with 82.0
Replace nan at position (296, 44) with 3.7649999999999997
Replace nan at position (361, 9) with 0.21
Replace nan at position (361, 28) with 3.32
Replace nan at position (361, 30) with -0.39
Replace nan at position (361, 40) with 670.82
Replace nan at position (361, 47) with 65.93
Replace nan at position (372, 1) with 68.0
Replace nan at position (372, 4) with 74.0
Replace nan at position (372, 6) with 39.63
Replace nan at position (372, 19) with 0.22
Replace nan at position (372, 21) with 69.09
Replace nan at position (372, 29) with -2.77
Replace nan at position (372, 31) with 1.95
Replace nan at position (563, 1) with 68.0
Replace nan at position (563, 3) with 667.615
Replace nan at position (563, 7) with 8.385
Replace nan at position (563, 23) with 0.5
Replace nan at position (563, 46) with 5645.58
Replace nan at position (563, 47) with 65.93
Replace nan at position (812, 6) with 39.63
Replace nan at position (812, 12) with 0.29
Replace nan at position (812, 17) with 16.265
Replace nan at position (812, 19) with 0.22
Replace nan at position (812, 29) with -2.77
Replace nan at position (812, 38) with 82.0
Replace nan at position (812, 44) with 3.7649999999999997
Replace nan at position (937, 6) with 39.63
Replace nan at position (937, 25) with 0.87
Replace nan at position (937, 30) with -0.39
Replace nan at position (937, 36) with 0.01
Replace nan at position (937, 43) with 76.24
Replace nan at position (991, 6) with 39.63
Replace nan at position (991, 25) with 0.87
Replace nan at position (991, 30) with -0.39
Replace nan at position (991, 36) with 0.01
Replace nan at position (991, 43) with 76.24
Replace nan at position (1045, 6) with 39.63
Replace nan at position (1045, 25) with 0.87
Replace nan at position (1045, 30) with -0.39
Replace nan at position (1045, 36) with 0.01
Replace nan at position (1045, 43) with 76.24
Replace nan at position (1099, 6) with 39.63
Replace nan at position (1099, 25) with 0.87
Replace nan at position (1099, 30) with -0.39
Replace nan at position (1099, 36) with 0.01
Replace nan at position (1099, 43) with 76.24
Replace nan at position (1153, 6) with 39.63
Replace nan at position (1153, 25) with 0.87
Replace nan at position (1153, 30) with -0.39
Replace nan at position (1153, 36) with 0.01
Replace nan at position (1153, 43) with 76.24

In [15]:
# replace the null values with their corresponding median
new_df.fillna(new_df.median(numeric_only = True), inplace = True)
new_df

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,1,2,3,4,5,6,7,8,9,10,...,40,41,42,43,44,45,46,47,48,49
0,2558.0,1506.09,456.63,90.0,6395000.0,40.88,7.89,29780.0,0.19,214.7,...,2850.00,1000.00,763.16,135.46,3.73,0.0,33243.19,65.74,7.95,Oil Spill
1,22325.0,79.11,841.03,180.0,55812500.0,51.11,1.21,61900.0,0.02,901.7,...,5750.00,11500.00,9593.48,1648.80,0.60,0.0,51572.04,65.73,6.26,No Spill
2,115.0,1449.85,608.43,88.0,287500.0,40.42,7.34,3340.0,0.18,86.1,...,1400.00,250.00,150.00,45.13,9.33,1.0,31692.84,65.81,7.84,Oil Spill
3,1201.0,1562.53,295.65,66.0,3002500.0,42.40,7.97,18030.0,0.19,166.5,...,6041.52,761.58,453.21,144.97,13.33,1.0,37696.21,65.67,8.07,Oil Spill
4,312.0,950.27,440.86,37.0,780000.0,41.43,7.03,3350.0,0.17,232.8,...,1320.04,710.63,512.54,109.16,2.58,0.0,29038.17,65.66,7.35,No Spill
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,76.0,685.07,1321.92,113.0,106875.0,25.64,9.82,2275.5,0.38,47.0,...,403.89,118.59,64.76,43.62,6.24,0.0,9631.78,36.47,15.04,No Spill
1203,69.0,1658.12,1269.91,164.0,172500.0,31.97,9.29,1940.0,0.29,88.9,...,824.62,316.23,143.50,88.71,5.75,0.0,3472.88,66.18,7.94,No Spill
1204,166.0,80.08,2020.58,176.0,233437.0,30.61,7.25,2491.5,0.24,93.7,...,0.00,0.00,0.00,0.00,0.00,0.0,16660.02,36.10,14.65,No Spill
1205,10.0,147.50,639.10,19.0,81000.0,79.60,16.77,757.0,0.21,107.0,...,371.08,90.00,90.00,0.00,4.12,0.0,3594.74,66.23,6.29,No Spill
1206,2664.0,1344.49,1363.74,45.0,6660000.0,38.72,8.75,28160.0,0.23,236.5,...,1767.77,5020.46,4531.14,247.42,0.39,0.0,6602.97,66.19,7.53,No Spill

In [16]:
# test that it works
# new_df.loc[94][10]

100.0

In [17]:
# checking for any extra null values
new_df.isnull().sum()

1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    1
dtype: int64

In [18]:
# Drop columns that contain uninformative data
new_list = []
for col in new_df:
    if len(new_df[col].value_counts())  < 3:
        new_list.append((col, len(new_df[col].value_counts())))
        new_df.drop(columns = [col], inplace = True)    
print("Columns (and number of unique values) with 2 or fewer unique values: ", new_list)
print(len(new_list), "columns dropped")

Columns (and number of unique values) with 2 or fewer unique values:  [(22, 1), (45, 2)]
2 columns dropped

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [19]:
new_df.columns

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
            36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49],
           dtype='int64')

In [20]:
# Delete rows with duplicate data 
new_df2 = new_df.drop_duplicates()
new_df2

,1,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,46,47,48,49
0,2558.0,1506.09,456.63,90.0,6395000.0,40.88,7.89,29780.0,0.19,214.7,...,69.0,2850.00,1000.00,763.16,135.46,3.73,33243.19,65.74,7.95,Oil Spill
1,22325.0,79.11,841.03,180.0,55812500.0,51.11,1.21,61900.0,0.02,901.7,...,69.0,5750.00,11500.00,9593.48,1648.80,0.60,51572.04,65.73,6.26,No Spill
2,115.0,1449.85,608.43,88.0,287500.0,40.42,7.34,3340.0,0.18,86.1,...,69.0,1400.00,250.00,150.00,45.13,9.33,31692.84,65.81,7.84,Oil Spill
3,1201.0,1562.53,295.65,66.0,3002500.0,42.40,7.97,18030.0,0.19,166.5,...,69.0,6041.52,761.58,453.21,144.97,13.33,37696.21,65.67,8.07,Oil Spill
4,312.0,950.27,440.86,37.0,780000.0,41.43,7.03,3350.0,0.17,232.8,...,69.0,1320.04,710.63,512.54,109.16,2.58,29038.17,65.66,7.35,No Spill
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,12.0,92.42,364.42,135.0,97200.0,59.42,10.34,884.0,0.17,110.0,...,50.0,381.84,254.56,84.85,146.97,4.50,2593.50,65.85,6.39,No Spill
933,11.0,98.82,248.64,159.0,89100.0,59.64,10.18,831.0,0.17,107.2,...,50.0,284.60,180.00,150.00,51.96,1.90,4361.25,65.70,6.53,No Spill
934,14.0,25.14,428.86,24.0,113400.0,60.14,17.94,847.0,0.30,133.9,...,50.0,402.49,180.00,180.00,0.00,2.24,2153.05,65.91,6.12,No Spill
935,10.0,96.00,451.30,68.0,81000.0,59.90,15.01,831.0,0.25,97.5,...,50.0,402.49,180.00,90.00,73.48,4.47,2421.43,65.97,6.32,No Spill
936,11.0,7.73,235.73,135.0,89100.0,61.82,12.24,831.0,0.20,107.2,...,50.0,254.56,254.56,127.28,180.00,2.00,3782.68,65.65,6.26,No Spill

In [21]:
print(len(new_df) - len(new_df.drop_duplicates()), "rows with repeated data dropped")

255 rows with repeated data dropped

In [22]:
print("Rows where target is NaN: ", new_df2[new_df2[49].isna()].index.to_list())

Rows where target is NaN:  [296]

In [23]:
# Delete rows with no associated target 
new_df2 =new_df2.dropna()

In [24]:
# Correct any misspellings of the target label 
new_df2[49].unique()

array(['Oil Spill', 'No Spill', 'No Spil', 'No Spll', 'Oil Spil',
       'Ol Spill'], dtype=object)

In [25]:
# f = [lambda x: "No Spill" if x[0] == "N" else "Oil Spill"]
# new_df2[49] = new_df2[49].map(f)

new_df2[49] = ['No Spill' if x[0] == "N" else 'Oil Spill' for x in new_df2[49]]
print("Unique_labels : {}".format(list(new_df2[49].unique())))

Unique_labels : ['Oil Spill', 'No Spill']

<ipython-input-25-04872a690e8f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df2[49] = ['No Spill' if x[0] == "N" else 'Oil Spill' for x in new_df2[49]]

In [26]:
# Build and test classifiers 
from sklearn.preprocessing import MinMaxScaler

# new_df3 contains only features
# target contains only the target column
new_df3 = new_df2.drop(columns = 49)
target = new_df2[49]

In [27]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(new_df3)

# put scaled new_df3 back into a dataframe
new_df3 = pd.DataFrame(scaled_data)
new_df3

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,0.078693,0.795369,0.167291,0.500000,0.088774,0.319870,0.295893,0.181873,0.236111,0.201812,...,0.316456,0.638298,0.238507,0.086957,0.079550,0.077489,0.048675,0.587669,0.976721,0.222222
1,0.689181,0.040816,0.308430,1.000000,0.782405,0.486482,0.015926,0.382532,0.000000,1.000000,...,0.316456,0.638298,0.481199,1.000000,1.000000,0.943179,0.007830,0.932995,0.976393,0.046729
2,0.003243,0.765631,0.223027,0.488889,0.003048,0.312378,0.272842,0.016699,0.222222,0.052399,...,0.316456,0.638298,0.117161,0.021739,0.015636,0.025816,0.121754,0.558460,0.979016,0.210800
3,0.036783,0.825213,0.108185,0.366667,0.041157,0.344625,0.299246,0.108469,0.236111,0.145812,...,0.316456,0.638298,0.505595,0.066224,0.047241,0.082929,0.173953,0.671567,0.974426,0.234683
4,0.009327,0.501465,0.161501,0.205556,0.009961,0.328827,0.259849,0.016761,0.208333,0.222842,...,0.316456,0.638298,0.110470,0.061794,0.053426,0.062444,0.033668,0.508444,0.974098,0.159917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,0.000062,0.047854,0.133435,0.750000,0.000377,0.621824,0.398575,0.001356,0.208333,0.080167,...,0.227848,0.234043,0.031955,0.022136,0.008845,0.084073,0.058724,0.010212,0.980328,0.060228
895,0.000031,0.051238,0.090925,0.883333,0.000264,0.625407,0.391869,0.001025,0.208333,0.076914,...,0.227848,0.234043,0.023817,0.015652,0.015636,0.029723,0.024794,0.043517,0.975410,0.074766
896,0.000124,0.012278,0.157095,0.133333,0.000605,0.633550,0.717100,0.001124,0.388889,0.107935,...,0.227848,0.234043,0.033683,0.015652,0.018763,0.000000,0.029231,0.001913,0.982295,0.032191
897,0.000000,0.049747,0.165334,0.377778,0.000150,0.629642,0.594300,0.001025,0.319444,0.065644,...,0.227848,0.234043,0.033683,0.015652,0.009381,0.042033,0.058332,0.006970,0.984262,0.052960
898,0.000031,0.003072,0.086185,0.750000,0.000264,0.660912,0.478206,0.001025,0.250000,0.076914,...,0.227848,0.234043,0.021303,0.022136,0.013267,0.102967,0.026099,0.032616,0.973770,0.046729

In [28]:
# add the target to new_df3
# target.tolist()
# new_df3[49] = target
# new_df3

In [29]:
X  = new_df3
Y = target

In [30]:
# train/test split data
from sklearn.model_selection import train_test_split
X_train, x_test, Y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 109)

In [31]:
# multinomialNB Classifier Model

from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
mnb = MultinomialNB()
mnb.fit(X_train, Y_train)

predicted = mnb.predict(x_test)

score = accuracy_score(y_test, predicted)
print(score)

Accuracy Score:
 0.9407407407407408

In [32]:
# SVM classifier model
from sklearn.svm import SVC
svm = SVC(kernel = 'linear', C= 1)
svm.fit(X_train, Y_train)
y_pred = svm.predict(x_test)
accuracy_score(y_test, y_pred)

0.9629629629629629